@import url(https://fonts.googleapis.com/css?family=Lato:400,500);

* {
  margin: 0 auto;
  padding: 0 auto;
}

body {
  background-color: darkslateblue;
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
}

h1, h3 {
  color: lavender;
}

#quote-box {
  border: 2px solid none;
  background-color: lavender;
  position: relative;
  border-radius: 10px;
  width: auto;
  height: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 40px;
  padding-bottom: 100px;
}

.quote {
  text-align: center;
  font-size: 1.6em;
  font-weight: 500;
  font-style: italic;
  color: darkslateblue;  
 }
 
 .author {
  height: auto;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
  color: darkslateblue;
}

.buttons {
  margin: auto;
  display: block;  
  margin-top: 20px;
  margin-bottom: 10px;
}

.button {
  border: none;
  height: 45px;
  width: 105px;
  background-color: darkslateblue;
  color: lavender;
  border-radius: 5px;
}

.button:hover {
  background-color: slateblue;
  border: none;
}

#new-quote {
  float: left;
  margin-left: 20px;
}

#tweet-quote, #pinit-quote {
  float: right;
  text-align: center;
  color: lavender;
  font-size: 1.5em;
  margin-right: 15px;
  padding: 0;
  padding-top: 1px;
  height: 40px;
  width: 40px;
}

.footer {
  color: lavender;  
}

.footer a {
  color: lavender;
  text-decoration: none;
}

@media screen and (max-width: 833px) {
  .buttons {
    width: 80%;
  }
}