@import url(https://fonts.googleapis.com/css?family=Lato:400,500);

* {
  margin: 0 auto;
  padding: 0 auto;
}

body {
  background-color: darkslateblue;
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
}

h1, h3 {
  color: lavender;
}

#quote-box {
  border: 2px solid none;
  background-color: lavender;
  position: relative;
  border-radius: 10px;
  width: auto;
  height: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 40px;
  padding-bottom: 100px;
}